var whiteC = #000000;
body {
  background-color: #add8e6;
}

head {
  text-align: center;
  color: whiteC;
}

h1 {
  font-family: arial;
    color: #ffffff;
    text-align: center;
}
h2, h3{
  font-family : arial;
  color: #ffffff;
  text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
